<div class="card">
    <h5>Nueva Cotización</h5>
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6"><label htmlfor="firstname2">Tipo</label><input pinputtext="" id="firstname2"
                type="text" class="p-inputtext p-component p-element"></div>
        <div class="field col-12 md:col-6"><label htmlfor="lastname2">Número</label><input pinputtext="" id="lastname2"
                type="text" class="p-inputtext p-component p-element"></div>
        <div class="field col-12 md:col-6"><label htmlfor="lastname2">Clientes</label>
            <span class="p-input-icon-left p-input-icon-right"><i class="pi pi-user"></i><input type="text"
                    pinputtext="" placeholder="Buscar Cliente" class="p-inputtext p-component p-element"><i
                    class="pi pi-search"></i></span>
        </div>
        <div class="field col-12 md:col-6"><label htmlfor="lastname2">Fecha de elaboración</label><input pinputtext=""
                id="lastname2" type="date" class="p-inputtext p-component p-element"></div>
        <div class="field col-12 md:col-6"><label htmlfor="city">Contacto</label><input pinputtext="" id="city"
                type="text" class="p-inputtext p-component p-element"></div>
        <div class="field col-12 md:col-3"><label htmlfor="state">Moneda</label>
            <input pinputtext="" id="zip" type="text" class="p-inputtext p-component p-element">

        </div>
        <div class="field col-12 md:col-3"><label htmlfor="zip">Responsables</label><input pinputtext="" id="zip"
                type="text" class="p-inputtext p-component p-element"></div>

        <div class="field col-12 md:col-12"><label htmlfor="zip">Encabezado</label><textarea rows="5" cols="30"
                placeholder="Your Message" pinputtextarea="" class="p-inputtextarea p-inputtext p-component p-element"
                data-lt-tmp-id="lt-243925" spellcheck="false" data-gramm="false"></textarea></div>

    </div>
</div>

<div class="card">
   
</div>